* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  min-height: 900px;
  margin: 0 auto;
  background-color: red;
}


/*utilities*/
.box {
  width: calc(100% / 3);
  height: 500px;
  margin: 1%;
  display: inline-block;
  background-color: #blue;
  background-size: cover;
  position: relative;
}

