* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  min-height: 900px;
  margin: 20px auto;
  /*background-color: red;*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}


/*********UTILITIES++++++++++*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*struttura delle righe*/
.row {
  text-align: center;
}

.content-box {
  width: 32%; /*calc(100% / 3 - 4px);*/
  display: inline-block;
  padding-bottom: 30px;
}

.content-box.middle {
  margin: 0 10px;
}


/*immagini e loro contenuto*/
.image-content {
  position: relative;
}

.image-content img{
  width: 100%;
}

.image-content:hover {
  cursor: pointer;
}

.image-content .img-hover {
  display: none;
}

.image-content:hover .img-front {
  display: none;
}

.image-content:hover .img-hover {
  display: block;
}

.image-content .square {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: white;
  position: absolute;
  top: 10px;
  right: 0;
}

.image-content .square::after {
  content: '\2764';
  line-height: 50px;
}

.image-content .label {
  color: white;
  font-weight: bold;
  text-align: center;
  height: 20px;
  padding: 3px;
  margin-right: 3px;
}

.label-container {
  position: absolute;
  left: 0;
  bottom: 10px;
}

.image-content .red.label {
  background-color: red;
  float: left;
}

.image-content .green.label {
  background-color: green;
  float: left;
}


/*caption immagini*/
.image-text {
  text-align: left;
  padding-top: 5px;
}

.image-text h4 {
  text-transform: uppercase;
}

.image-text .red {
  color: red;
}

.image-text .erased {
  text-decoration: line-through;
}

.price::after {
  content: '\20AC';
}


